<p>This is the edit view.</p>


<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd>
    <input type="text" ng-model="Id" class="form-control" readonly/>
  </dd>

  <dt>NAME:</dt>
  <dd>
    <input type="text" ng-model="Name" class="form-control"/>
  </dd>

  <dt>FAMILY:</dt>
  <dd>
    <input type="text" ng-model="Family" class="form-control"/>
  </dd>

  <dt>EMAIL:</dt>
  <dd>
    <input type="text" ng-model="Mail" class="form-control"/>
  </dd>

  <dt></dt>
  <dd>
    <input type="button" ng-click="edit()" class="btn btn-success" value="edit"/>
  </dd>
</dl>
